<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>driver</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css"/>
</head>

<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/driver_arrive.js"></script>
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
<script src="https://use.fontawesome.com/e0824672d4.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyA_lEsYM-vck40-A7g0wjSxVKerpLOWfZQ",
    authDomain: "hackust2017-47009.firebaseapp.com",
    databaseURL: "https://hackust2017-47009.firebaseio.com",
    projectId: "hackust2017-47009",
    storageBucket: "hackust2017-47009.appspot.com",
    messagingSenderId: "786912091991"
  };
  firebase.initializeApp(config);
</script>
<style type="text/css">
  .title {text-align: center; font-weight: 900; font-family: calibri;}
  .title-sm {text-align: center; font-weight: 600;font-family: calibri;}
  .modify-btn {width: 40%;}
  #hkmap {opacity: 0.5; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -2;}
  .jumbotron p {font-size: 15px; padding-left: 30px;}
  .full-btn {width: 100%;}
  /*#black {opacity: 0.3; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -1; background-color: black;}*/
  h2 {text-align: center;}
</style>

<div class="container-fluid">
  <div ng-app="driverApp" ng-controller="driverArriveController">
    <div class="row">
      <div class="sm-col-12 md-col-12">
        <h2 class="title">Arrived!</h2>
      </div>
    </div>
    <div ng-if="b_signed == false">
      <p class="title-sm" style="margin-bottom: 20px">Waiting for <b><i>{{receiver.name}}</i></b> to get this package.</p>
      <div class="btn-group btn-group-justified">
        <a type="button" class="btn btn-primary" ng-click="callReceiver()">Contact</a>
        <a type="button" class="btn btn-success" ng-click="signPackage()">Signed</a>
      </div>
    </div>
    <div ng-if="b_signed == true">
      <p class="title-sm" style="margin-bottom: 45px">The package is delivered to <b><i>{{receiver.name}}</i></b> Successfully!</p>
      <p></p>
    </div>

    <div class="jumbotron" style="background-color: rgba(255, 255,255,0.6); margin-bottom: -15px;">
      <p></p>
      <p>Departure: {{ order.depart_time | date:'yyyy-MM-dd HH:mm:ss' }}</p>
      <p>Arrival: {{ order.arrive_time | date:'yyyy-MM-dd HH:mm:ss' }}</p>
      <div ng-if="b_signed == false">
        <p>Waiting: {{order.wait_time | secToTime | date:'mm:ss'}}</p>
        <p>Base Price: {{ order.base_price }} HKD</p>
        <p>Overtime Fine: {{ order.overtime_price }} HKD</p>
        <p>Total Price: {{ order.base_price + order.overtime_price }} HKD</p>
      </div>
      <div ng-if="b_signed == true">
        <p>Delivered: {{ order.deliver_time | date:'yyyy-MM-dd HH:mm:ss' }}</p>
        <p><b>{{ order.base_price + order.overtime_price }} HKD</b> has been transferred into your account!</p> 
      </div>
    </div>
    <div ng-if="b_signed == true">
                      <div ng-if="b_other_trip == true">
          <button type="button" class="btn btn-warning full-btn" ng-click="backNav()">Back to Navigation</button>
        </div>
        <div ng-if="b_other_trip == false">
          <button type="button" class="btn btn-primary full-btn" ng-click="backDriver()">Pick Another Customer</button>
        </div>   

    </div>
    <div id="hkmap"></div>
    <div id="black"></div>
  </div>
</div>







<script>

</script>

    <footer style="background-color: white; position: absolute; bottom: 0; width: 100%; opacity: 0.9">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                  <hr class="small">
                      <a href="https://github.com/samuelzhouhe/hackUST2017"><i class="fa fa-github-square fa-fw fa-3x"></i></a>
                    
                    
                    <p class="text-muted" style="margin-top: 10px">Presented by <b>TRANSPORTERS</b></p>
                </div>
            </div>
    </footer>
</body>
</html>