<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Receiver</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css"/>
</head>

<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/receiver.js"></script>
<!--<script src="js/driver_arrive.js"></script>-->
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

<script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
<script src="http://momentjs.com/downloads/moment-with-locales.js"></script>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyA_lEsYM-vck40-A7g0wjSxVKerpLOWfZQ",
    authDomain: "hackust2017-47009.firebaseapp.com",
    databaseURL: "https://hackust2017-47009.firebaseio.com",
    projectId: "hackust2017-47009",
    storageBucket: "hackust2017-47009.appspot.com",
    messagingSenderId: "786912091991"
  };
  firebase.initializeApp(config);
</script>

<div class="container-fluid">
    <h2>TRANSPORTER Receiver</h2>
    <section ng-app="receiverApp" ng-controller="receiverAppController">
        <h3>Current User: {{currentUserID}}</h3>
        <input type="text" ng-model="newid" required>
        <button type="button" class="btn btn-primary" ng-click="changeCurrUser()">Login</button><br><br>

        <!--<p>{{allOrdersDisplay}}</p>-->
        <div ng-repeat="invi in allOrdersDisplay" class="container-fluid">
            <h4>Sender: {{invi.sender}}</h4>
            <h4>Estimated Arrival Time: {{detailedTime[$index]}}</h4>
            <button class="btn btn-primary" ng-click="viewPickupLocation($index)">View Pickup Location</button>
            <button class="btn btn-primary" ng-click="confirmPickup($index)">Confirm Pickup</button>
            <button class="btn btn-primary" ng-click="rejectPickup($index)">Reject Pickup</button>
            <br><br><br>
        </div>
        <br><br>
        <div id="hkmap-receiver" style="width: 100%; padding-top: 50%;" ng-show="!showDriverTracking"></div>


        <div class="container-fluid" ng-show="showDriverTracking">
                <h2>Driver Arriving</h2>
                <div id="hkmap" style="width: 100%; padding-top: 50%; /* 1:1 Aspect Ratio */"></div>
        </div>

    </section>
</div>

<script>

</script>

</body>
</html>